html {
  --light: #adb5bd;
  --dark: #212529;
  --muted: rgba(173, 181, 189, 0.75);

  width: 170px;
  height: auto;
  padding: 8px;
  background-color: var(--dark);
  text-align: center;
}
.title {
  margin-top: 0px;
  padding-top: 0;
  line-height: 1.05;
  text-align: center;
  color: var(--light);
}
.credit {
  color: var(--muted);
}
hr {
  border: none;
  height: 1px;
  background-color: var(--light);
  opacity: 0.5;
}
button {
  background-color: var(--light);
  color: var(--dark);
  outline: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.1 ease;

  font-size: 13px;
  line-height: 16px;
  padding: 2px 16px;

  height: 32px;
  min-width: 60px;
  min-height: 32px;
}
button:hover {
  opacity: 0.9;
}
a,
a:visited {
  color: #6ea8fe;
}
a:hover,
a:focus,
a:active {
  opacity: 0.9;
}
